@import url(./fonts/stylesheet.css);

/* GENERAL */

.app {
  height: 100vh;
  width: 100vw;
  font-family: FontVinted, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-size: inherit;
  font-family: inherit;
  border: none;
  background-color: #fff;
}

input {
  border: inherit;
}

.container {
  width: 1280px;
  margin: 0 auto;
  height: 65px;
  padding: 10px 0 10px 0;
}

/* MODAL */

.App {
  position: relative;
}
.modal-root {
  color: red;
  /* Pour que la modal prenne tout l'écran : */
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* Pour placer la modal tout en haut à gauche une fois en position relative */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Mettre un background noir et transparent : */
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  background-color: white;
  width: 700px;
  height: 400px;
  padding: 10px 50px;
  /* Placer le button en haut à droite de la modal : */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.modal button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* COMPONENT HEADER */

header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img {
  object-fit: contain;
  height: 50px;
  width: 120px;
}

.bouton-bleu {
  background-color: #2cb1ba;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  line-height: 10px;
  height: 30px;
  width: 115px;
}

.bouton-blanc {
  color: #2cb1ba;
  border: #2cb1ba 1px solid;
  border-radius: 5px;
  font-size: 12px;
  line-height: 10px;
  height: 30px;
  width: 115px;
  margin-left: 15px;
}

.search {
  height: 30px;
  width: 635px;
  background-color: #f5f6f7;
  border-radius: 5px;
}

header input {
  background-color: #f5f6f7;
  width: 595px;
}

/* PAGE HOME */

img {
  height: 455px;
  width: 1903px;
  object-fit: cover;
}

.offer-picture {
  width: 235px;
  height: 360px;
}

.account-picture {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.bloc-superpose {
  height: 270px;
  width: 410px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  font-size: 34px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  background-color: #fff;
  position: absolute;
  bottom: 110px;
  left: 310px;
}

.bloc-endessous {
  position: relative;
  margin-bottom: 40px;
}

.bouton-bleu-home {
  background-color: #2cb1ba;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  line-height: 10px;
  height: 45px;
  width: 185px;
}

.affichage-home {
  display: flex;
  width: 1280px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.affichage-home a {
  width: calc((100% - 40px) / 5);
  margin-bottom: 40px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 0px 10px 10px;
  height: 30px;
}

.price {
  font-size: 14px;
}

.taille-marque {
  font-size: 12px;
  color: #999999;
}

/* PAGE OFFER */

.page-offer {
  background-color: #ebedee;
}

.page-offer-container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.page-offer img {
  height: 600px;
  width: 450px;
}

.page-offer-description {
  height: 600px;
  width: 450px;
  background-color: #fff;
  padding: 35px;
}

.page-offer-description-bloc-1 {
  margin-bottom: 30px;
  border-bottom: #d1d1d1 1px solid;
  padding-bottom: 50px;
}

.page-offer-price {
  font-size: 24px;
  margin-bottom: 20px;
}

.page-offer-detail {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  line-height: 20px;
}

.page-offer-detail :first-child {
  color: #999999;
}

.page-offer-detail :last-child {
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

h5 {
  font-size: 16px;
}

.page-offer-owner {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}

.page-offer-owner img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.page-offer-button {
  background-color: #2cb1ba;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  line-height: 10px;
  height: 35px;
  width: calc(100% - 50px);
  align-self: center;
  margin-top: 80px;
}

.page-offer-description-bloc-2 {
  display: flex;
  flex-direction: column;
}
