@import url("https://fonts.cdnfonts.com/css/maison-neue");

* {
  font-family: "Maison Neue", sans-serif;
}

/* GENERAL */

.app {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-size: inherit;
  font-family: inherit;
  border: none;
  background-color: #fff;
}

input {
  border: inherit;
}

.container {
  width: 1280px;
  margin: 0 auto;
  height: 100px;
  padding: 10px 0 10px 0;
}

/* MODAL */

.App {
  position: relative;
}
.modal-root {
  /* Pour que la modal prenne tout l'écran : */
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* Pour placer la modal tout en haut à gauche une fois en position relative */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Mettre un background noir et transparent : */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.modal {
  background-color: white;
  width: 700px;
  height: 400px;
  padding: 10px 50px;
  /* Placer le button en haut à droite de la modal : */
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .modal button {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px;
} */

.modal-form div input {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  width: 280px;
}

.modal-form-button {
  background-color: #2cb1ba;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 45px;
  margin-top: 20px;
  width: 280px;
}

.modal-form-redirection {
  color: #2cb1ba;
  font-size: 12px;
  margin-top: 20px;
}

.modal-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* COMPONENT HEADER */

header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img {
  object-fit: contain;
  height: 50px;
  width: 120px;
}

.bouton-bleu {
  background-color: #2cb1ba;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  line-height: 10px;
  height: 30px;
  width: 115px;
}

.bouton-blanc {
  color: #2cb1ba;
  border: #2cb1ba 1px solid;
  border-radius: 5px;
  font-size: 12px;
  line-height: 10px;
  height: 30px;
  width: 115px;
  margin-left: 15px;
}

.bouton-rouge {
  background-color: #c2175b;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  line-height: 10px;
  height: 30px;
  width: 115px;
}

.search-zone {
  display: flex;
  flex-direction: column;
}

.toogle-and-slider {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.search {
  height: 30px;
  width: 635px;
  background-color: #f5f6f7;
  border-radius: 5px;
}

header input {
  background-color: #f5f6f7;
  width: 595px;
}

header input::placeholder {
  font-size: 16px;
}
/* SLIDER */

.horizontal-slider {
  width: 200px;
  max-width: 500px;
  height: 50px;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.example-track.example-track-0 {
  background: #c9c9c9;
  border-radius: 5px;
}

.example-track.example-track-1 {
  background: #2cb1ba;
}

.example-track.example-track-2 {
  background: #c9c9c9;
  border-radius: 5px;
}

.horizontal-slider .example-thumb {
  top: 10px;
  width: 25px;
  height: 25px;
  line-height: 38px;
  font-size: 0.7em;
  text-align: center;
  background-color: #2cb1ba;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
}

/* TOGGLE */

.toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #2cb1ba;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle__input:checked ~ .toggle__fill {
  background: #2cb1ba;
}

.toggle__fill::after {
  content: "⇡";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
  text-align: center; /* centrage horizontal */
  line-height: var(--height); /*centrage vertical */
  font-size: var(--height); /* centrage vertical */
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
  content: "⇣";
}

/* PAGE HOME */

img {
  height: 455px;
  width: 1903px;
  object-fit: cover;
}

.offer-picture {
  width: 235px;
  height: 360px;
}

.account-picture {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.bloc-superpose {
  height: 270px;
  width: 410px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  font-size: 34px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  background-color: #fff;
  position: absolute;
  bottom: 110px;
  left: 310px;
}

.bloc-endessous {
  position: relative;
  margin-bottom: 40px;
}

.bouton-bleu-home {
  background-color: #2cb1ba;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  line-height: 10px;
  height: 45px;
  width: 185px;
}

.affichage-home {
  display: flex;
  width: 1280px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.affichage-home a {
  width: calc((100% - 40px) / 5);
  margin-bottom: 40px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 0px 10px 10px;
  height: 30px;
}

.price {
  font-size: 14px;
}

.taille-marque {
  font-size: 12px;
  color: #999999;
}

/* PAGE OFFER */

.page-offer {
  background-color: #ebedee;
}

.page-offer-container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.page-offer img {
  height: 600px;
  width: 450px;
}

.page-offer-description {
  height: 600px;
  width: 450px;
  background-color: #fff;
  padding: 35px;
}

.page-offer-description-bloc-1 {
  margin-bottom: 30px;
  border-bottom: #d1d1d1 1px solid;
  padding-bottom: 50px;
}

.page-offer-price {
  font-size: 24px;
  margin-bottom: 20px;
}

.page-offer-detail {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  line-height: 20px;
}

.page-offer-detail :first-child {
  color: #999999;
}

.page-offer-detail :last-child {
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

h5 {
  font-size: 16px;
}

.page-offer-owner {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}

.page-offer-owner img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.page-offer-button {
  background-color: #2cb1ba;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  line-height: 10px;
  height: 35px;
  width: calc(100% - 50px);
  align-self: center;
  margin-top: 80px;
}

.page-offer-description-bloc-2 {
  display: flex;
  flex-direction: column;
}

/* SIGN UP */

h1 {
  font-size: 24px;
  text-align: center;
  margin: 50px 0;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px;
}

.signup-form > input {
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  width: 280px;
}

.signup-checkbox {
  margin-top: 20px;
  padding: 10px;
  text-align: justify;
  width: 280px;
  color: #666;
}

.signup-form input[type="checkbox"] {
  margin-right: 20px;
  -webkit-transform: scale(2);
  transform: scale(2);
}

.signup-checkbox > p {
  margin-top: 10px;
  color: #999;
  font-size: 12px;
  text-align: left;
}

.signup-form-button {
  background-color: #2cb1ba;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 45px;
  margin-top: 20px;
  width: 280px;
}

.signup-form-redirection {
  color: #2cb1ba;
  font-size: 12px;
  margin-top: 20px;
}

/* PUBLISH */

section {
  background-color: #ebedee;
}

.publish-container {
  margin: 0 auto;
  width: 1280px;
  padding-top: 10px;
}

.bloc {
  background-color: #fff;
  margin: 20px 0;
  border: 1px solid #999;
}

.interieur-bloc {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-bottom: 1px solid #ebedee;
}

.interieur-bloc input {
  width: 500px;
}

textarea {
  border: none;
  border-bottom: 1px solid #ebedee;
  font-size: 14px;
  font-family: FontVinted, sans-serif;
  resize: none;
  width: 500px;
}

.publish-button {
  display: flex;
  justify-content: flex-end;
}

.publish-button button {
  background-color: #0ab1ba;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin: 50px 0;
  padding: 12px;
}

.checkbox {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid #ebedee;
  margin-right: 250px;
  gap: 10px;
}

/* PAYMENT */

.payment-background {
  background: #ebedee;
  height: 500px;
}

.payment-container {
  margin: 0 auto;
  padding: 20px;
  width: 600px;
}

form {
  background-color: #fff;
  padding: 5px;
}

h3 {
  color: #999;
  font-size: 14px;
  padding: 24px 24px 8px;
}

ul li {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 5px 20px;
  color: #666;
  font-size: 16px;
}

ul li:last-child {
  padding-bottom: 50px;
}

ul {
  margin-bottom: 50px;
  border-bottom: #ebedee solid 1px;
}

.payment-container h4 {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 5px 20px;
}

.padding {
  padding: 20px 20px 20px 20px;
}

.payment-container button {
  background-color: #00bb6a;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 43px;
  line-height: 22px;
  margin-top: 8px;
  padding: 0 14px;
  width: 100%;
}

.bold {
  font-weight: bold;
}
